img {
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 200px;
    transition: transform 2s;
    -webkit-transition: transform 2s;
    -moz-transition: transform 2s;
    -ms-transition: transform 2s;
    -o-transition: transform 2s;
}

img:hover {
    transform: skew(80deg, 50deg);
    -webkit-transform: skew(80deg, 50deg);
    -moz-transform: skew(80deg, 50deg);
    -ms-transform: skew(80deg, 50deg);
    -o-transform: skew(80deg, 50deg);
}