body {
    perspective: 1000px;
}

img {
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 200px;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}

img:hover {
    transform: translateZ(300px);
    -webkit-transform: translateZ(300px);
    -moz-transform: translateZ(300px);
    -ms-transform: translateZ(300px);
    -o-transform: translateZ(300px);
}